<div class="container mb-15">
    <div class="text-center pt-15 pb-8">
        <h1>Instructors</h1>
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card profile-card-2">
                
                <div class="card-body pt-20">
                    <img src="assets/images/Instructors/Picture1.png" alt="profile-image" class="profile" />
                    <h5 class="card-title">Dr. P. R. Lakshmikantan</h5>
                    <h6>Ex. Director SQC – OR, ISI Delhi</h6>
                    <p class="card-text">Dr. P. R. Lakshmikantan (Ph.D.) was formerly the Director of Statistical Quality Control and Operations Research, ISI Delhi where he headed and coordinated research activities and Industry Consultancy. He has also held the position of visiting faculty in the school of Planning and Architecture, Delhi. In his 40 years of experience, he has held numerous Mentorship and Consultant positions in the field of applied statistics and operations research in the industry, including Residential Consultant at Bharat Heavy Electricals, Airtel, Standard Chartered Bank in Chennai, Dubai and Hong Kong, HMT Group, Lee Associates Ltd, Samtel group of industries and 6 Sigma Consultant in GE International -  to name a few. He is currently a Faculty in UPES, Dehradun.
                    </p>
                    <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card profile-card-2">
                
                <div class="card-body pt-20">
                    <img src="assets/images/Instructors/Picture3.jpg" alt="profile-image" class="profile" />
                    <h5 class="card-title">Mr. Somen Chaudhuri</h5>
                    <h6>ISI, IIIT – H, IIT - Chennai</h6>
                    <p class="card-text">Mr. Somen Chowdhury (MBB - ISI) has over 15 years of experience as a Digital Transformation Leader, Statistical Machine Learning, Deep Learning, Data Science and Analytics expert, certified 6 Sigma Expert (ISI) and accredited Artificial Intelligence trainer. He is a Post Graduate Fellow in IIIT - Hyderabad (CSE). His areas of expertise includes Applied Statistics, Programming and Machine Learning algorithms, Deep Learning, Advanced Computer Vision, NLP, AI Chatbots, Voicebots etc. He has held numerous consulting and mentorship positions as Digital Strategy and Artificial Intelligence expert in the industry, including Consultancy at Airtel, Colt, TATA, GECIS to name a few. He is currently a Faculty at Great Learning Institute of Technology.
                    </p>
                    <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card profile-card-2">
                
                <div class="card-body pt-20">
                    <img src="assets/images/Instructors/Picture2.png" alt="profile-image" class="profile" />
                    <h5 class="card-title">Ms. Dimple Sangvi</h5>
                    <h6>MBB – ISI, Strategic Consultant</h6>
                    <p class="card-text">Ms. Dimple Sangvi (MBB - ISI) has over 18 years of experience as a Strategic Consultant and accredited Data Science, Analytics and Machine Learning trainer. She is a PMP (PMI) certified consultant with stints as a Strategic and Transformation Consultant at various industries such as UBS, Prudential, Cognizant, HSBC and IDP to name a few. Her areas of Research and Expertise include Analytics and Data Science, Machine Learning and Deep Learning. Her areas of Research and Expertise include Analytics and Data Science, Machine Learning and Deep Learning. As an expert mentor, she has conducted over 100 training hours on Data Science, Machine Learning and Deep Learning for more than 50 participants from corporates with 97% success results.
                    </p>
                    <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>