<div id="search-panel">
    <div class="search-bar p-5">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="container">
                    <div class="row ">
                        
                        
                        
                    </div>
                </div> -->
                <div class="col-sm-12 col-md-2"></div>
                <div class="col-sm-12 col-md-6">
                    <input type="text" placeholder="search" class="form-control">
                </div>
                <div class="col-sm-12 col-md-1 ml-0">
                    <button class="btn btn-outline-primary btn-block"> Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div id="search_keywords" class="p-15">
        <div class="container p-0">
            <h1 class="font-weight-normal"> Search Keywords </h1>
        </div>
    </div>
    <hr />
    <div class="container border-bottom my-15">
        <div class="row">
            <h5 class="udlite-heading-xl">All Courses</h5>
        </div>
    </div>

    <div class="container-xl mt-10 p-0">
        <div class="row m-0">
            <div class="col-sm-3 border">
                <div class="filter">
                    <div class=" filter-item-content">
                        <span class="filter-item-text"> Category </span>
                        <i class="fa fa-plus-circle filter-item-icon" aria-hidden="true"></i>
                    </div>
                    <div class="filter-item-content">
                        <span class="filter-item-text"> Level </span>
                        <i class="fa fa-plus-circle filter-item-icon" aria-hidden="true"></i>
                    </div>

                    <div class="filter-item-content">
                        <span class="filter-item-text"> Duration </span>
                        <i class="fa fa-plus-circle filter-item-icon" aria-hidden="true"></i>
                    </div>
                    <div class="filter-item-content">
                        <span class="filter-item-text"> Popularity </span>
                        <i class="fa fa-plus-circle filter-item-icon" aria-hidden="true"></i>
                    </div>

                </div>
            </div>
            <div class="col-sm-9 pr-0">
                <div class="container-fluid p-0">
                    <div class="row m-0">
                        <div class="col-sm-4 mb-5">
                            <div class="card">
                                <img src="assets/images/course.jpg" class="card-img-top" alt="course">
                                <div class="card-body">
                                    <h2 class="card-title">Learn python from scratch</h2>
                                    <h4 class="card-subtitle mb-2 text-muted text-small">3 Weeks | 20 lectures | Beginner
                                    </h4>
                                    <button class="btn-custom btn-outline-primary btn-block">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-5">
                            <div class="card">
                                <img src="assets/images/course.jpg" class="card-img-top" alt="course">
                                <div class="card-body">
                                    <h2 class="card-title">Learn python from scratch</h2>
                                    <h4 class="card-subtitle mb-2 text-muted">3 Weeks | Python Beginner</h4>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <button class="btn-custom btn-outline-primary btn-block">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-5">
                            <div class="card">
                                <img src="assets/images/course.jpg" class="card-img-top" alt="course">
                                <div class="card-body">
                                    <h2 class="card-title">Learn python from scratch</h2>
                                    <h4 class="card-subtitle mb-2 text-muted">3 Weeks | Python Beginner</h4>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <button class="btn-custom btn-outline-primary btn-block">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-5">
                            <div class="card">
                                <img src="assets/images/course.jpg" class="card-img-top" alt="course">
                                <div class="card-body">
                                    <h2 class="card-title">Learn python from scratch</h2>
                                    <h4 class="card-subtitle mb-2 text-muted">3 Weeks | Python Beginner</h4>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                    <button class="btn-custom btn-outline-primary btn-block">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>