<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <form [formGroup]="form">
                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" formControlName="UserId" class="form-control" placeholder="Email address" autocomplete="off" autofocus>
                                    <label for="inputEmail">Email address</label>
                                </div>
                                <div *ngIf="f.UserId.touched && f.UserId.invalid" class="mx-2">
                                    <p *ngIf="f.UserId.errors.required" class="text-danger">UserId is Required.</p>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" formControlName="Password" class="form-control" placeholder="Password" autocomplete="off">
                                    <label for="inputPassword">Password</label>
                                </div>
                                <div *ngIf="f.Password.touched && f.Password.invalid" class="mx-2">
                                    <p *ngIf="f.Password.errors.required" class="text-danger">Password is Required.</p>
                                </div>
                                <p *ngIf="isLoginFailed" class="text-danger">
                                    Login Failed
                                </p>
                                <!-- <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div> -->
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="login()" [disabled]="isLogging">Sign in</button>
                                <!-- <div class="text-center">
                                    <a class="small" href="#">Forgot password?</a></div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>