<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
            <img src="assets/images/intro2.jpg" class="d-block w-100" alt="img1">

            <div class="carousel-caption custom-carousel-caption-position text-left" style="color:white">
                <h1 class="mb-10">Nurturing Excellence</h1>
                <span>In-Depth courses and certifications</span><br/>
                <span>One-on-one live mentoring sessions</span><br/>
                <span>Career guidance </span><br/><br/>
                <h3>Personalized, one-on-one mentoring and <br/> career guidance from experienced industry professionals
                </h3>
                <br/>
                <button class="btn btn-primary btn-lg rounded-0"> Apply Now </button>
            </div>
        </div>
        <!-- <div class="carousel-item" data-interval="2000">
            <img src="assets/images/img1.jpg" class="d-block w-100" alt="img2">
            <div class="carousel-caption custom-carousel-caption-position d-none d-md-block  mb-4">
                <h1>Explore More</h1>
                <button class="btn btn-primary btn-lg rounded-0"> Click Here </button>
            </div>
        </div>
        <div class="carousel-item " data-interval="2000">
            <img src="assets/images/img1.jpg" class="d-block w-100" alt="img3">
            <div class="carousel-caption custom-carousel-caption-position d-none d-md-block  mb-4">
                <h1>Explore More</h1>
                <button class="btn btn-primary btn-lg rounded-0"> Click Here </button>
            </div>
        </div> -->
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> -->
</div>