<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item p4">
                <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item p4">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item p4">
                <a class="nav-link" href="#">Switch account</a>
            </li>
            <li class="nav-item p4">
               
            </li>
        </ul>
    </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
      <a class="nav-link active" href="#">Dashboard</a>
      <a class="nav-link" href="#">
        Friends
        <span class="badge badge-pill bg-light align-text-bottom">27</span>
      </a>
      <a class="nav-link" href="#">Explore</a>
      <a class="nav-link" href="#">Suggestions</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>
  </div> -->
<section class="header">
    <div class="header-top-line bg-primary" style="display: none;">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand navbar-dark navbar-short justify-content-between w-100">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item dropdown dropdown-flat dropdown-flat-primary">
                            <a class="nav-link text-white dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="text-uppercase">Categories</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">Data Science</a>
                                <a class="dropdown-item">Machine Learning</a>
                                <a class="dropdown-item">Deep Learning</a>
                                <a class="dropdown-item">Software Engineering</a>
                                <a class="dropdown-item">Cloud Computing</a>
                                <a class="dropdown-item">Software Development</a>
                            </div>
                        </li> -->
                        <!-- <li class="nav-item dropdown dropdown-flat dropdown-flat-primary">
                            <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown">
                                <span class="text-uppercase">Documentation</span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="documentation/getting-started/introduction.html">Introduction</a>
                                <a class="dropdown-item" href="documentation/getting-started/build-tools.html"> Build
                                    Tools</a>
                                <a class="dropdown-item" href="documentation/getting-started/customizing.html">Customizing</a>
                                <a class="dropdown-item" href="documentation/components/alerts.html">Components</a>
                                <a class="dropdown-item" href="documentation/plugins/calendar.html">Plugins</a>
                            </div>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item">
                            <a class="nav-link text-white">
                                <span class="text-uppercase">Contact for Support</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">
                                <i class="fa fa-phone mr-3"></i> <span class="text-uppercase">+91 1234567890</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-main bg-white shadow-sm">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                    <a class="navbar-brand font-weight-bold">
                        <img src="assets/images/logo.jpeg" [routerLink]="['/home']" class="img-fluid" />
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="offcanvas" data-target="offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="navbar-collapse offcanvas-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase fontclass" [routerLink]="['/home']" routerLinkActive="active" data-toggle="none">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase fontclass" [routerLink]="['/courses']" routerLinkActive="active" data-toggle="none">Programs</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="none">Contact us</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link text-uppercase fontclass" data-toggle="none">About us</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="none" href="beauty.html">Beauty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="none" href="restaurant.html">Restaurant</a>
                            </li> -->
                        </ul>
                        <!-- <div class="navbar-spacer"></div> -->
                        <!-- <a class="btn-custom btn-outline-primary text-nowrap">
                            Buy template
                        </a> -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>