<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Prismo.ai</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Contents</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home Page Setup</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['/administrator/setup/prismoadvtg']">Prismo.ai Advantage</a>
                    </li>
                    <li>
                        <a href="#">Higher Education</a>
                    </li>
                    <li>
                        <a href="#">Professional Programs</a>
                    </li>
                    <li>
                        <a href="#">Certifications</a>
                    </li>
                    <li>
                        <a href="#">Coding for Juniors</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Course Setup</a>
            </li>
            <li>
                <a [routerLink]="[ '/administrator/leads']">Leads</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Dashboard</a>
            </li>

        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <form class="form-inline mt-2 mt-md-0 ">
                    <a class="nav-link cursor-pointer" (click)="logout()">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </form>

            </div>
        </nav>
        <div style="padding:20px">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app-lead-tracking></app-lead-tracking>