.card-fliper .front-end {
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.08);
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    position: relative;
    height: 100%;
}

.card-fliper .back-end {
    width: 100%;
    border-radius: 2px;
    background-color: #000000;
    padding: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    z-index: -1;
}

.card-fliper:hover .back-end {
    display: block;
    z-index: 0;
    opacity: 0.9;
}

.subtext {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.71;
    color: #51565e;
    padding-right: 20px;
}