<div>
    <div class="container py-15">
        <div class="text-center py-md-10 py-sm-2">
            <h1>The Prismo Advantage</h1>
        </div>
        <div class="row courselist ">
            <div class="col-sm-12 col-md-6 col-lg-4 mt-10" *ngFor="let course of CourseList">
                <div class="card course cursor-pointer h-100" attr.data-view="Programs{{ course.Id }}">
                    <img src="{{course.ImageUrl}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">{{course.Title}}</h5>
                        <!-- <h5 class="card-text -secondary">{{course.Subtitle}}</h5> -->
                        <p class="card-text text-secondary">
                            {{ course.info }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray my-15 py-10">
        <div class="container">
            <div class="row px-7">
                <h2> Get Certified, Get Ahead with Our Programs</h2>
            </div>
        </div>
        <div class="container my-15">
            <div class="row px-7">
                <h3 class="font-weight-bold"> Higher Education</h3>
            </div>
            <div class="row px-7">
                <h6>Learn from global experts and get certified by the world's leading universities
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 mt-10" *ngFor="let course of HigherEducation">
                    <div class="card shadow-sm cursor-pointer h-100">
                        <img src="{{course.ImageUrl}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{course.Title}}</h5>
                            <!-- <h5 class="card-text -secondary">{{course.Subtitle}}</h5> -->
                            <p class="card-text text-secondary">
                                {{ course.info }}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <button class="btn btn-outline-primary p-5 btn-block rounded-0" [routerLink]="['/courses']" routerLinkActive="active">Apply </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container my-15 ">
            <div class="row px-7">
                <h3 class="font-weight-bold"> Prefessional Program</h3>
            </div>
            <div class="row px-7">
                <h6>Achieve your career goals with industry-recognized learning paths
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 mt-10" *ngFor="let course of ProfessionProgram">
                    <div class="card cursor-pointer  shadow-sm h-100">
                        <img src="{{course.ImageUrl}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize font-weight-bold">{{course.Title}}</h5>
                            <!-- <h5 class="card-text -secondary">{{course.Subtitle}}</h5> -->
                            <p class="card-text text-secondary">
                                {{ course.info }}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-0 d-flex justify-content-end">
                            <button class="btn btn-outline-primary p-5 btn-block rounded-0" [routerLink]="['/courses']" routerLinkActive="active" *ngIf="course.isAvailable">Apply </button>
                            <p class="px-0 font-weight-bold text-primary mb-2 " *ngIf="!course.isAvailable">Comming Soon... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container my-15 ">
            <div class="row px-7">
                <h3 class="font-weight-bold"> Certification</h3>
            </div>
            <div class="row px-7 ">
                <h6>Get certified by global certification bodies and deepen your expertise
                </h6>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mt-10" *ngFor="let course of Cerificates">
                    <div class="card cursor-pointer shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize font-weight-bold">{{course.Title}}</h5>
                        </div>
                        <div class="card-footer bg-white border-0 ">
                            <div class="mb-3">
                                <p class="card-text text-secondary">
                                    {{ course.info }}
                                </p>
                            </div>
                            <div class="d-flex justify-content-start">
                                <button class="btn btn-link px-0 font-weight-bold" *ngIf="course.isAvailable">
                                    Get Cerified
                                </button>
                                <p class="px-0 font-weight-bold text-primary mb-2 " *ngIf="!course.isAvailable">Comming Soon... </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container my-15 ">
            <div class="row px-7">
                <h3 class="font-weight-bold"> Coding For Junior</h3>
            </div>
            <div class="row px-7">
                <h6>
                    Make your kid ready to conquer tomorrow.
                </h6>
            </div>
            <div class="row" *ngFor="let item of CoursesDetail" attr.data-view-target="Programs{{ item.Id }}">
                <div class="col-sm-12 col-md-4 mb-sm-3 mt-10">
                    <img src="{{item.ImageUrl}}" class="img-fluid w-100">
                </div>
                <div class="col-sm-12 col-md-5 mt-10">
                    <div class="benefits-content format-wrapper">
                        <h3 class="main-heading"> {{ item.Title }}</h3>
                        <span>
                            <ul>
                                <li *ngFor="let i of item.info" class="mb-1"> {{ i }}</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 mt-10">
                    <button class="btn btn-secondary btn-block rounded-0 font-weight-bold">
                        Comming Soon
                    </button>
                    <!-- <button class="btn-custom btn-outline-primary text-nowrap  btn-block mb-3">Apply now</button>
                    <button class="btn-custom btn-outline-success  btn-block">Learn more</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-15">
        <div class="text-center pt-15 pb-8">
            <h1>Blogs</h1>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">How to become productive....?</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-capitalize pb-5">some tips to be productive</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0">
                    <!-- <img src="assets/images/blog1.jpg" class="card-img"> -->
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">How to become productive....?</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-capitalize pb-5">some tips to be productive</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">How to become productive....?</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-capitalize pb-5">some tips to be productive</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content....</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>